.projetos-cards{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* RESPONSIVO */
@media(max-width: 26rem){
    .projetos-cards{
        flex-direction: column;
        gap: 1rem;
    }
}